.header{
    display:flex;
    justify-content: center;
}
.track{
    border-bottom: 1px solid black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.playground{
    border: 1px solid black;
    background: greenyellow;
}
body{
    padding: 40px;
}