@keyframes down{
    0%{
        height: 0px;
        opacity: 0;
    }
    20%{
        height:292px ;
    }
    50%{
        height:292px ;
        opacity: 1;
    }
    100%{
        height: 292px;
        opacity: 1;
    }
}

/* 向右弹跳 */
@keyframes right{
    0%,20%,40%,80%,100%{
        transform: translateX(0px);
    }
    30%{
        transform: translateX(15px);
    }
    60%{
        transform: translateX(8px);
    }
/* 前后跳动 */
@keyframes scale{
    0%,10%,50%,70%,100%{
        transform: scale(1);
    }
    30%{
        transform: scale(0.9);
    }
    40%{
        transform: scale(1.3);
    }
    60%{
        transform: scale(1.15);
    }
}
@keyframes scale{
    0%,10%,50%,70%,100%{
        transform: scale(1);
    }
    30%{
        transform: scale(0.9);
    }
    40%{
        transform: scale(1.3);
    }
    60%{
        transform: scale(1.15);
    }
}