body{
    border: 1px solid red;
}
.wrapper {
  position: relative;
  display: inline-block;
}
.popover {
  border: 1px solid red;
  position: absolute;
  left: 100%;
  top: 0;
  white-space: nowrap;
  padding: 10px;
  margin-left: 10px;
  background: white;
  display: none;
}
.popover::before {
  position: absolute;
  right: 100%;
  top: 5px;
  border: 10px solid transparent;
  border-right-color: red;
  content: "";
}
.popover::after {
  position: absolute;
  right: 100%;
  top: 5px;
  border: 10px solid transparent;
  border-left-color: white;
  content: "";
  margin-right: -1px;
}
