*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
kbd{
  border: 1px solid red;
  width: 4em;
  height: 4em;
  text-transform: uppercase;
  position: relative;
  margin: 0.5em;
}
kbd > button{
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  display: none;
}

kbd:hover > button{
  display: inline-block;
}
body{
  background: url(./wall.jpg) no-repeat center;
  background-size: cover;
}
main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
#main1{
  display: inline-block;
}
#main1 > div:nth-child(2){
  margin-left: 35px;
}
#main1 > div:nth-child(3){
  margin-left: 108px;
}
.key img{
  width: 16px;
  height: 16px;
  position: absolute;
  left: 4px;
  bottom: 2px;
}
.key .text{
  position: absolute;
  top: 2px;
  left: 4px;
}