* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
kbd {
  border: 1px solid red;
  width: 4em;
  height: 4em;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
}
kbd > button{
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}
kbd:hover > button{
  display: inline-block;
}
main {
  text-align: center;
}
#main > div:nth-child(2) {
  margin-left: -22px;
}
#main > div:nth-child(3) {
  margin-left: -80px;
}
.key{
  width: 50px;
  height: 40px;
  background: linear-gradient(to bottom,#292929 0%,#111111 100%);
  border: 1px solid #373737;
  color: #c5c5c5;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #1A1B1C,0 0 0 2px #1F202020,0 3px 0 2px #080808;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.row{
margin: 20px;
}
.row .key{
margin: 0 10px;
}
