*{
    margin: 0;
    padding: 0;
  }
  ul {
    list-style-type: none;
  }
  html{
    background-color: aliceblue;
  }
  .App{
    border: 1px solid black;
    background-color: whitesmoke;
    width: 450px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -250px;
  }
  .headerContent{
    margin-right: 5px;
    margin: 10px;
    border-bottom: 1px solid black;
  }
  .headerContent-copy{
    display: non;
  
  }
  .bto1{
    margin-right: 60px;
  }
  .footContent{
    display: inline-block;
    position: absolute;
    bottom: 0;
  }
  .left{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
  }
  .right{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  