*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.code-wrapper{
    flex: 1;
    height: 50%;
}
.preview-wrapper{
    flex: 1;
    height: 50%;
}
#code{
    overflow: hidden;
    height: 100%;
}
